body {
    font-family: Arial;
    background-color: #f4f4f4;
    min-width: 960px;
    margin: 0 0 90px 0;
}

header {
    background-color: #37345f;
    color: white;
    text-align: center;
    padding: 8px;
    width: 100%;
}

nav ul {
    padding-inline-start: 0;
}

nav ul li {
    display: inline;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 15px 40px;
    margin: 5px;
    background-color: #575293;
    color: white;
    font-size: medium;
    text-align: center;
    border-radius: 5px;
    width: 220px;
}

button:hover {
    background-color: #6d67b8;
}

#load-btn {
    background-color: #c1603d;
}

#load-btn:hover,
#save-btn:hover,
#change-btn,
#delete-btn {
    background-color: #d97e5c;
}

#save-btn,
#change-btn,
#delete-btn {
    margin: 5px auto;
    background-color: #c1603d;
    display: block;
}

#choice {
    background-color: #eec7b3;
}

h2 {
    font-size: x-large;
    color: #37345f;
    text-decoration: none;
    font-weight: bold;
}

article {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    background-color: #dad6d6;
    padding: 10pt;
    border: 1px, solid #ddd;
    border-radius: 5px;
    width: 600px;
    margin: 20px auto;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
}

input,
textarea,
select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-family: Arial;
    font-size: medium;
}

footer {
    background-color: #37345f;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {

    nav ul li,
    div {
        display: block;
    }

    body {
        font-size: small;
    }

    header,
    footer {
        padding: 4px;
    }

    article {
        padding: 10px;
        margin: 10px;
    }

    form {
        width: 100%;
    }
}